In [21]:
import pandas as pd
import json

In [22]:
wg_electives = pd.read_csv("iticse2023_wg6_all_electives.csv")
wg_electives['institution'].unique()

array(['Durham_England', 'Edinburgh_Scotland', 'Glasgow_Scotland',
       'Uppsala_Sweden', 'CAU_Germany', 'Kennesaw_USA', 'UofT_Canada',
       'UOC_Spain', 'VirginiaTech_USA'], dtype=object)

In [23]:
# remove UK institutions so they aren't double-counted
uk_institutions = ['Durham_England', 'Edinburgh_Scotland', 'Glasgow_Scotland']
wg_electives = wg_electives[~wg_electives.institution.isin(uk_institutions)]
wg_electives['institution'].unique()

array(['Uppsala_Sweden', 'CAU_Germany', 'Kennesaw_USA', 'UofT_Canada',
       'UOC_Spain', 'VirginiaTech_USA'], dtype=object)

In [24]:
wg_electives[wg_electives['overview'].isna()]

,institution,elective,overview,title,summary,content,ilo
183,Kennesaw_USA,CYBR3396,NaN,Cooperative Study,This is a supervised credit-earning work exper...,NaN,NaN
184,Kennesaw_USA,CYBR3398,NaN,Internship,A supervised credit-earning work experience fo...,NaN,NaN
185,Kennesaw_USA,CYBR4305,NaN,Technology and Cyber Crime,This course provides an overview of cyber crim...,NaN,NaN
188,Kennesaw_USA,CYBR4700,NaN,Cybersecurity Competitions,This course explores emerging issues in cybers...,NaN,NaN
204,Kennesaw_USA,IT4673,NaN,Virtual IT Systems,"This course explores the design, implementatio...",NaN,NaN
205,Kennesaw_USA,IT4713,NaN,Business Intelligence Systems,"This course introduces the concepts, practices...",NaN,NaN

In [25]:
wg_electives['content'] = wg_electives['content'].fillna('')
wg_electives['ilo'] = wg_electives['ilo'].fillna('')
wg_electives['summary'] = wg_electives['summary'].fillna('')
wg_electives['overview'] = wg_electives['title'] + ' ' + wg_electives['summary'] + ' ' + wg_electives['content'] + ' ' + wg_electives['ilo']

In [26]:
wg_electives[wg_electives['overview'].isna()]

Empty DataFrame
Columns: [institution, elective, overview, title, summary, content, ilo]
Index: []

In [27]:

with open("iticse2023_wg6_electives_non_uk.json", "w") as file:
    json.dump(list(dict(wg_electives['overview']).values()), file)